{
    servers {
        timeouts {
            read_header 10s
            read_body 2m
            write 30m
            idle 2m
        }
        max_header_size 1MB
    }
}

bluejayinnolabs.com {
    encode gzip
    request_body {
        max_size 64MB
    }
    reverse_proxy 127.0.0.1:28090
    header Strict-Transport-Security "max-age=31536000; includeSubDomains"
}

www.bluejayinnolabs.com {
    redir https://bluejayinnolabs.com{uri} permanent
}
